# virtual environment
/venv

# Python cache folders
**/__pycache__

# PyCharm folders
/.idea

# old example corpora
/exampleCorpora/subcorpus1
/exampleCorpora/subcorpus2
/exampleCorpora/subcorpus3

# output and prep files
/output
/prep
